.menu-title {
    cursor: pointer;
}
.menu-title:hover {
    font-weight: 600;
}
.reg-status {
    height: 24px;
    width: 120px;
    display: inline-block;
    border-radius: 9px;
    color: white;
    text-align: center;
    line-height: 22px;
    padding: 0 15px;
}
.reg-active {
    border: 1px solid #009900;
    background-color: #009900;
}
.reg-nactive {
    border: 1px solid #aaa;
    background-color: #aaa;
}

/* Для диалоговых окон */
.form-label {
    display: inline-block;
    font-weight: 600;
    width: 150px;
}
.form-input_text {
    display: inline-block;
    border: 1px solid #0000ff;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}
.fancydialog-title {
    width: 100%;
    background-color: #3c8dbc;
    color: #ffff;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}
.fancyinner{
    padding: 15px;
}
/* Для диалоговых окон */

/* Для пагинации */
.my-pagination, .my-pagination span {
    display: inline-block;
}
.my-pagination span {
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid #666;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    margin: 0 2px;
}
.my-pagination span:hover {
    color: #333;
    background-color: #e7e7e7;
    border-color: #adadad;
}
.my-pagination span a {
    height: 100%;
    width: 100%;
    display: inline-block;
}
.my-pagination span.prevlink a, .my-pagination span.nextlink a,
.my-pagination span.firstlink a, .my-pagination span.lastlink a {
    position: absolute;
    top: 0;
    left: 0;
}
/* Для пагинации */